<div class="sidebar-header">
  <img src="img/Melati.jfif" alt="Logo" class="logo" />
  <h1 class="brand-name">Melati Gold Shop</h1>
</div>
<div class="sidebar-menu">
  <ul class="nav flex-column" id="sidebarAccordion">
    <li class="nav-item">
      <a class="nav-link" href="dashboard.html">
        <i class="fas fa-tachometer-alt"></i>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>
    <!-- Antrian dropdown menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#antrianSubmenu"
        aria-expanded="false"
      >
        <i class="fas fa-ticket-alt"></i>
        <span class="menu-text">Antrian</span>
        <i class="fas fa-angle-down ms-auto submenu-icon"></i>
      </a>
      <div class="collapse" id="antrianSubmenu" data-bs-parent="#sidebarAccordion">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="admin.html">
              <i class="fas fa-user-cog"></i>
              <span class="menu-text">Admin Antrian</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="display.html">
              <i class="fas fa-desktop"></i>
              <span class="menu-text">Display Antrian</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="analisis.html">
              <i class="fas fa-chart-bar"></i>
              <span class="menu-text">Laporan Antrian</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Absensi dropdown menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#absensiSubmenu"
        aria-expanded="false"
      >
        <i class="fas fa-clipboard-check"></i>
        <span class="menu-text">Absensi</span>
        <i class="fas fa-angle-down ms-auto submenu-icon"></i>
      </a>
      <div class="collapse" id="absensiSubmenu" data-bs-parent="#sidebarAccordion">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="sistemAbsensi.html">
              <i class="fas fa-user-check"></i>
              <span class="menu-text">Kehadiran</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pengajuan-izin.html">
              <i class="fas fa-calendar-plus"></i>
              <span class="menu-text">Pengajuan Izin</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="laporan-kehadiran.html">
              <i class="fas fa-file-alt"></i>
              <span class="menu-text">Laporan Kehadiran</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="laporan-izin.html">
              <i class="fas fa-file-medical"></i>
              <span class="menu-text">Laporan Izin</span>
            </a>
          </li>
          <!-- Supervisor Submenu -->
          <li class="nav-item">
            <a
              class="nav-link collapsed supervisor-toggle"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#supervisorSubmenu"
              aria-expanded="false"
            >
              <i class="fas fa-user-tie"></i>
              <span class="menu-text">Supervisor</span>
              <i class="fas fa-chevron-down submenu-icon"></i>
            </a>
            <div class="collapse supervisor-menu" id="supervisorSubmenu">
              <ul class="nav flex-column ms-3">
                <li class="nav-item">
                  <a class="nav-link" href="supervisor.html">
                    <i class="fas fa-desktop"></i>
                    <span class="menu-text">Status Pengajuan Izin</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="tambah-pengguna.html">
                    <i class="fas fa-user-cog"></i>
                    <span class="menu-text">Tambah Pengguna</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <!-- Servis dropdown menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#servisSubmenu"
        aria-expanded="false"
      >
        <i class="fas fa-tools"></i>
        <span class="menu-text">Servis</span>
        <i class="fas fa-angle-down ms-auto submenu-icon"></i>
      </a>
      <div class="collapse" id="servisSubmenu" data-bs-parent="#sidebarAccordion">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="input-servis.html">
              <i class="fas fa-plus-circle"></i>
              <span class="menu-text">Input Servis</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data-servis.html">
              <i class="fas fa-database"></i>
              <span class="menu-text">Data Servis</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="laporan-servis.html">
              <i class="fas fa-chart-line"></i>
              <span class="menu-text">Laporan Servis</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Promosi dropdown menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#promosiSubmenu"
        aria-expanded="false"
      >
        <i class="fas fa-ad"></i>
        <span class="menu-text">Promosi</span>
        <i class="fas fa-angle-down ms-auto submenu-icon"></i>
      </a>
      <div class="collapse" id="promosiSubmenu" data-bs-parent="#sidebarAccordion">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="promosi.html">
              <i class="fas fa-cog"></i>
              <span class="menu-text">Setting Promosi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="promosi-display.html">
              <i class="fas fa-desktop"></i>
              <span class="menu-text">Display Promosi</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="sidebar-footer">
  <p>© 2025 Melati Gold Shop</p>
</div>